<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Order ID: "+@order.id %></h1>
</div>

<% if @order.user == current_user %>
<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:tracking) %></dt>
      <dd><pre class="prettyprint"><%= @order.tracking %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:description) %></dt>
      <dd><pre class="prettyprint"><%= @order.description %></pre></dd>

      <dt class="label label-default">Status</dt>
      <dd><pre class="prettyprint"><% if @order.status == "pending" %><button type="button" class="btn btn-danger btn-xs"><%= @order.status.capitalize %></button>
<% elsif @order.status == "processing" %><button type="button" class="btn btn-warning btn-xs"><%= @order.status.capitalize %></button>
<% elsif @order.status == "en_route" %><button type="button" class="btn btn-info btn-xs">En Route</button>
<% elsif @order.status == "ready" %><button type="button" class="btn btn-success btn-xs">Ready For Pickup!</button>
<% else @order.status == "picked_up" %><button type="button" class="btn btn-default btn-xs">Picked Up</button>
<% end %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:value) %></dt>
      <dd><pre class="prettyprint"><%= number_to_currency(@order.value) %></pre></dd>
      <% if @order.fee.nil? %>
      <% else %>
      <dt class="label label-default"><%= model_class.human_attribute_name(:fee) %></dt>
      <dd><pre class="prettyprint"><%= number_to_currency(@order.fee) %></pre></dd>
    <% end %>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    orders_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_order_path(@order), :class => 'btn btn-info' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    order_path(@order),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
</div>
<% end %>
