<title>USA2Kenya | How It Works</title>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1 class="bg-primary">How It Works</h1>
      <hr>
        <p>
          USA2KENYA.com is secured by 128-bit SSL encryption and all payments are securely handled through Stripe Payments.<br />
        </p>
        <hr>
        <p>
          USA2KENYA.com accepts payment for transporting orders with most credit cards and debit cards.
        </p>
        <hr>
      </p>
          This includes Visa, MasterCard, American Express, JCB, Discover, and Diners Club.
          <hr>
          <div class="text-center">
            <%= image_tag("cc.gif", alt: "Credit Cards", title: "Credit Cards") %>
            <hr>
            <%= image_tag("positive_ssl_lock.png", alt: "SSL Certificate", title: "SSL Certificate") %>
            <%= image_tag("stripe.png", alt: "Stripe Secure Payments", title: "Stripe Secure Payments") %>
          </div>
        </p>
    </div>
    <div class="col-md-8">
        <p class="text-default">
          <h2>
            <strong>Using USA2KENYA Service</strong>
          </h2>
        </p>
          <hr>
            <div class="row">
            <div class="col-md-4">
            <p class="text-default">
              <h3>Step 1: Sign up</h3>
          Once you sign up you will receive a FREE mailbox with a street address in the USA.<br />
          Every time you shop at online stores in the US, you can use it as your shipping address for receiving packages.<br />
          <br />
          Each customer's shipping address is unique, but will look something like this:
          <br />
          <address>
            <strong> USA2KENYA <em>FIRST NAME</em></strong><br />
          2751 Hennepin Ave S<br />
          Suite 40, KE123456<br />
          Minneapolis, MN<br />
          55408
        </address>
        </p>
      </div>
      <div class="col-md-4">
            <%= image_tag("step-1.png", alt: "USA2KENYA How To Step 1", title: "USA2KENYA How To Step 1", width: 400, height: 110.32) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="text-default">
          <h3>Step 2: Personal Information</h3>
          Enter your personal information in your <%= link_to "Account Settings", edit_user_registration_path %> page.
        </p>
        <p class="text-info">
          Note that we require some form of government picture ID to ensure your security and prevent fraud. You can enter your National ID Card number, Passport ID or drivers license if a foreign national or other form of <strong>picture ID</strong>.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("step-2.png", alt: "USA2KENYA How To Step 2", title: "USA2KENYA How To Step 2", width: 400, height: 123.58) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="text-default">
          <h3>Step 3: Shop with your USA2KENYA address!</h3>
          Shop online and at the checkout process for online retailers, use your USA2KENYA address as your shipping address & shipping phone number.
        </p>
          <p class="text-default">
          If you have family or friends in the USA who would like to send you packages, have them send packages to your USA2KENYA Address.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("step-3.png", alt: "USA2KENYA How To Step 3", title: "USA2KENYA How To Step 3", width: 400, height: 107.10) %>
        <%= image_tag("step-3-1.png", alt: "USA2KENYA How To Step 3", title: "USA2KENYA How To Step 3", width: 400, height: 356.45) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="text-default">
          <h3>Step 4: Register New Order</h3>
          Once you receive a tracking number for an order, enter it into your <strong>Orders Dashboard</strong>, along with the value (in $US dollars) and description of your items.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("step-4.png", alt: "USA2KENYA How To Step 4", title: "USA2KENYA How To Step 4", width: 400, height: 331.49) %>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p class="text-default">
          <h3>Step 5: Pay For Order</h3>
          Once your package is ready for payment, you will receive an invoice via email. 
        </p>
        <p class="text-default">
          Visit your <strong>Orders Dashboard</strong> 
        to make payment on your order. 
      </p>
      <p class="text-default">
        To ensure faster delivery and clearing of the customs process, please pay as soon as possible.
      </p>
      <p class="text-default">
        Orders cannot be picked up without payment.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("step-5-1.png", alt: "USA2KENYA How To Step 5", title: "USA2KENYA How To Step 5", width: 400, height: 133.64) %>
        <%= image_tag("step-5-2.png", alt: "USA2KENYA How To Step 5", title: "USA2KENYA How To Step 5", width: 400, height: 117.38) %>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p class="text-default">
          <h3>Step 6: Pickup Order!</h3>
          Once your package is ready for pickup, you will receive a notification via email. 
        </p>
        <p class="text-default">
          Visit <%= link_to "your preferred", edit_user_registration_path %> pickup <%= link_to 'location', page_path('contact')  %> in Nairobi with your receipt and picture ID.
      </p>
      <p class="text-default">
        Orders cannot be picked up without prior payment online or picture ID.
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("south-c-1.png", alt: "USA2KENYA How To Step 6", title: "USA2KENYA How To Step 6", width: 400, height: 245.31) %>
      </div>
    </div>
        <hr>
            <%= image_tag("u2k-banner-logo.png", alt: "USA2KENYA Banner Logo", title: "USA2KENYA Banner Logo") %>
      </div>
    </div>
  </div>
