%h1 Listing sales

%table
  %tr
    %th Email
    %th Guid
    %th Order
    %th
    %th
    %th

  - @sales.each do |sale|
    %tr
      %td= sale.email
      %td= sale.guid
      %td= sale.order
      %td= link_to 'Show', sale
      %td= link_to 'Edit', edit_sale_path(sale)
      %td= link_to 'Destroy', sale, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sale', new_sale_path
